@media (min-width: 920px) {
  .nav-item {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .collapse {
    display: flex;
    justify-content: center;
    height: 70px;
  }
}

.nav-item {
  background-color: rgb(231, 32, 32);
  margin-bottom: 5px;
  margin-top: 2px;
  text-align: center;
  border-radius: 15px;
}

.bg-light {
  background-color: rgb(136, 63, 209) !important;
}
.nav-link {
  color: black !important;
}

.nav-item:hover {
  border: 2px solid rgb(62, 3, 117);
}

.pulsuj {
  animation: pulsuj 1s infinite;
}
@keyframes pulsuj {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1em;
  }
}

body {
  background-color: rgb(62, 3, 117);
}

footer {
  display: flex;
  justify-content: center;
}
footer div {
  height: 60px;
}

footer div p {
  color: aliceblue;
}

.img-container img {
  max-width: 800px;
  width: 100%;
  border-radius: 20px;
}

.img-container {
  background-color: rgb(136, 63, 209);
  padding: 1%;
  border-radius: 15px;
}

.inner-continer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(136, 63, 209);
  margin-bottom: 10px;
  border-radius: 15px;
}

.text-contianer {
  display: flex;
  padding: 3%;
  text-align: center;
  background-color: rgb(136, 63, 209);
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  justify-content: center;
}
.text-contianer p {
  background-color: rgb(231, 32, 32);
  padding: 5%;
  border-radius: 15px;
}

.main-container {
  margin: 0 5%;
  padding: 1%;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .inner-continer {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }

  .text-contianer {
    max-width: 100%;
  }

  .img-container img {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
  }

  .reverse_1 {
    order: 1;
  }
  .reverse_2 {
    order: 2;
  }
}
